@{
  ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">Bem vindo(a) a AutoStore!</h1>
  <p>É com grande alegria que lhe damos as boas-vindas à AutoStore,</p>
  <p> o seu ponto de partida para a liberdade e a mobilidade. Seja você um viajante buscando o carro perfeito para a
    aventura</p>
  <p> ou alguém que deseja explorar novas oportunidades sobre quatro rodas, estamos aqui para tornar seus sonhos
    automotivos realidade.</p>

  <p>Veja mais em: <a href="https://www.olx.com.br/estado-go?q=carros">Compre ou alugue carros!</a>.</p>
</div>



<div class="text-center product-card my-4">
  <img
    src="https://imgs.search.brave.com/ApPr6byRheTMZkMB-a19afjnrMbYWzTpP2z1QbBpXt0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/b2x4LmNvbS5ici90/aHVtYnM3MDB4NTAw/LzkzLzkzNjU2MDA4/Njc0NzEyMi53ZWJw"
    alt="Chevette" width="60%">

  <dl>
    <dt>Chevrolet Chevette 1983</dt>
    <dd>R$ 20.000,00</dd>
    <dt>Seminovo</dt>
    <dd>Entradas a partir de 4mil</dd>
  </dl>

  <div class="text-center">
    <img src="https://img.olx.com.br/images/45/454577703630142.webp" alt="Fusca" width="60%">

    <dl>
      <dt>Volkswagen Fusca 1300 1974</dt>
      <dd>R$ 45.000,00</dd>
      <dt>Novo</dt>
      <dd>Entradas a partir de 10mil</dd>
    </dl>
  </div>

  <div class="text-center">
    <img src="https://img.olx.com.br/images/46/468596800347949.webp" alt="Opala" width="60%">

    <dl>
      <dt>OPALA DIPLOMATA 4.1 1989</dt>
      <dd>R$ 98.000,00</dd>
      <dt>Novo</dt>
      <dd>Entradas a partir de 20mil</dd>
    </dl>
  </div>

  <div class="text-center">
    <img src="https://img.olx.com.br/images/70/702581212685868.webp" alt="Blazer" width="50%">

    <dl>
      <dt>S10 Blazer 4.3 V6 Manual 2011/2011</dt>
      <dd>R$ 30.000,00</dd>
      <dt>Usado</dt>
      <dd>Entradas a partir de 8mil</dd>
    </dl>
  </div>

  <div class="text-center">
    <img src="https://img.olx.com.br/images/60/604590103266366.webp" alt="Maveric" width="50%">

    <dl>
      <dt>Ford Maverick Super Luxo Coupe V8 16V 2P Manual 1976</dt>
      <dd>R$ 200.000,00</dd>
      <dt>Seminovo</dt>
      <dd>Entradas a partir de 50mil</dd>
    </dl>
  </div>

  <div class="text-center">
    <img src="https://img.olx.com.br/images/36/363537221125198.webp" alt="Brasilia" width="50%">

    <dl>
      <dt>Volkswagen Brasilia 1600 2P 1979</dt>
      <dd>R$ 18.000,00</dd>
      <dt>Seminovo</dt>
      <dd>Entradas a partir de 6mil</dd>
    </dl>
  </div>
</div>